// Grid
// ----

/// Grid columns.
/// @param {Map|Number} $columns - The amount of columns.
@mixin grid-columns(
    $columns
) {
    @if type-of($columns) == 'map' {
        @each $breakpoint, $col in $columns {
            @include breakpoint($breakpoint) {
                grid-template-columns: $col;
            }
        }
    }
    @else {
        grid-template-columns: $columns;
    }
}

/// Grid gap.
/// @param {Map|String} $gap - The gap size.
/// @param {String} $property - The property that needs to be set. Can be: gap, row-gap, column-gap.
@mixin grid-gap(
    $gap,
    $property: gap
) {
    @if type-of($gap) == 'map' {
        @each $breakpoint, $size in $gap {
            @include breakpoint($breakpoint) {
                #{$property}: $size;
            }
        }
    }
    @else {
        #{$property}: $gap;
    }
}
